<div class="container">
  <div class="header">
    <div>Coding Questions and solutions(All in one)</div>
  </div>
  <div class="section mt-1">
    <div class="row">
      <div class="col">
        <div class="card">
          <p class="card__header">Euler Project</p>
          <p class="card__content">Solved(2)</p>
          <p class="card__content"> UnSolved(1000)</p>
        </div>
      </div>
      <div class="col">      
        <div class="card">
          <p class="card__header">GeeksforGeeks</p>
          <p class="card__content">Solved(2)</p>
          <p class="card__content"> UnSolved(1000)</p>
        </div>
      </div>
      <div class="col">      
        <div class="card">
          <p class="card__header">CodeChef</p>
          <p class="card__content">Solved(2)</p>
          <p class="card__content"> UnSolved(1000)</p>
        </div>
      </div>
      <div class="col">      
        <div class="card">
          <p class="card__header">Codeforces</p>
          <p class="card__content">Solved(2)</p>
          <p class="card__content">UnSolved(1000)</p>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>